* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.tableWrapper {
	width: 97%;
	height: 75%;
	border: solid 1px #000000;
	margin: 20px;
	padding: 10px;
	overflow: auto;
}

.preOrderTable {
	border-collapse: collapse;
	width: 100%;
	min-width: 1000px;
}

.preOrderTable th,
.preOrderTable td {
	border: 1px solid #ccc;
	padding: 8px;
}

.preOrderTable th {
	background-color: #4e4e4e;
	color: white;
}

.preOrderTable .deleteAction {
	width: 20px;
}
