.priceTotal {
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: white;
	/* height: 100%; */
	/* border: 1px solid black; */
}

.inputForm {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0 20px;
}

.totalForm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.inputTotal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 400px;
}

.inputTotal label {
	color: #036541;
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
}

.inputTotal input {
	padding: 15px;
	border: 2px solid black;
	font-weight: 1000;
	font-size: 16px;
	text-align: end;
}

.totalForm p {
	color: red;
	font-weight: bold;
	font-size: 25px;
	margin: 0 0 13px 0;
}

.totalForm input {
	padding: 20px 0;
	border: 2px solid black;
	font-weight: 1000;
	font-size: 16px;
	text-align: center;
}
