* {
	margin: 0;
	padding: 0;
}

.tableWrapper {
	width: 80%;
	margin: 0 auto;
}

.productTable {
	border-collapse: collapse;
	width: 100%;
}

.productTable th,
.productTable td {
	border: 1px solid #ccc;
	padding: 8px;
}

.productTable th {
	background-color: #4e4e4e;
	color: white;
}

.productTable td > .imageWrapper {
	width: 80px;
	margin: 0 auto;
}

.productTable td > .imageWrapper img {
	width: 100%;
	border-radius: 7px;
	object-position: center;
}

.productTable td > .productDescription {
	width: 100%;
	margin: 0 auto;
	max-width: 200px;
	text-align: center;
}

.productTable td > .btnArea {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.productTable td > .btnArea .btn {
	color: black;
	border: 1px solid black;
	margin: 0;
	width: 30px;
}
