.formContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	min-height: 200px;
	background-color: white;

	border-radius: 5px;
}

.formContainer h1 {
	margin-top: 20px;
}

.formContainerCenter {
	padding-top: 50px;
}

.formInput {
	width: 50%;
}

.formInput .labelInput {
	text-align: left;
	padding-left: 11%;
	font-size: 16px;
}

.formInput input {
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 20px;
	height: 50px;
	border: none;
	background-color: #eaeaea;
	color: #5a616c;
	font-weight: bold;
	outline: none;
}

/* Button */

.formContainerButton {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.btn {
	width: 100px;
	height: 30px;
	border: none;
	color: white;
	background-color: #5a616c;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s;
	font-weight: bold;
}

.btn:hover {
	opacity: 0.5;
}

.btnAdd {
	background-color: #4832d5;
}

.btnUpdate,
.btnDelete {
	background-color: #036541;
}

.formInput {
	margin-bottom: 20px;
}

.labelInput {
	margin-bottom: 5px;
}

.formInput select {
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}
