* {
	margin: 0;
	padding: 0;
}

.tableWrapper {
	width: 100%;
	margin: 0 auto;
}

.payrollTable {
	border-collapse: collapse;
	width: 100%;
	min-width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.payrollTable th,
.payrollTable td {
	border: 1px solid #ccc;
	padding: 8px;
}

.payrollTable th {
	background-color: #4e4e4e;
	color: white;
}

.payrollTable td > .btnForm {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.payrollTable td > .btnForm .btn {
	color: black;
	border: 1px solid black;
	margin: 0;
	width: 30px;
}
.btnForm {
	text-align: center;
}

.dropdown input {
	border: none;
}
.header {
	width: 100%;
	height: 50px;
	position: relative;
}
.dropdown {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1;
}
