.menu {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	background-color: white;
}

.menu nav {
	margin-top: 17px;
}

.menu nav ul {
	list-style: none;
	display: flex;
	padding-bottom: 30px;
}

.menu nav ul li {
	margin-right: 40px;
}

.menu nav ul li a {
	width: 100%;
	height: 50px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #909ba6;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s;
}

.menu nav ul li a:hover {
	color: black;
	border-radius: 15px;
}

.menu .menuIcon {
	width: 25px;
	height: 25px;
	margin-top: 30px;
	margin-left: 20px;
	cursor: pointer;
}

.active {
	position: relative;
	--color-primer-border-active: #68d29b;
	color: black !important;
	transition: 0.5s;
}

.active::after {
	background: var(--color-primer-border-active);
	bottom: calc(50% - 25px);
	content: '';
	height: 3px;
	position: absolute;
	right: 50%;
	transform: translate(50%, -50%);
	width: 100%;
	z-index: 1;
	transition: 0.5s;
}
.loginForm {
	position: absolute;
	top: calc(100% + 2px);
	right: 0;
	width: 150px;
	padding: 10px;
	background-color: #f2f2f2;
	display: none;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 2;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.loginForm.show {
	display: block;
	opacity: 1;
	transform: translateY(0);
}

.loginForm::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #f2f2f2 transparent;
}

.loginForm a {
	text-decoration: none;
	color: black;
}

.menuForm {
	display: flex;
}

.bellIcon svg {
	width: 35px;
	height: 35px;
	margin-top: 25px;
	cursor: pointer;
	position: relative;
}
.chatBox {
	position: absolute;
	top: 80px;
	left: 83.5%;
	transform: translateX(-50%);
	min-width: 600px;
	min-height: 100px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 0 1px #fff;
	z-index: 1;
}

.chatBox h3 {
	margin: 0 0 20px 60px;
}

.chatBox p {
	font-weight: 700;
	font-size: 18px;
}

.chatBox div {
	opacity: 0.8;
	font-size: 14px;
	text-align: justify;
}

.arrow {
	position: absolute;
	top: -10px;
	right: 10%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ccc;
	z-index: 1;
}

.notify:not(:last-child) {
	margin-bottom: 30px;
}

.notificationCount {
	position: absolute;
	top: 15px;
	right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border: none;
}

.notify {
	cursor: pointer;
}

.notify:hover {
	color: #036541;
}
