.menu {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	width: 101px;
	height: 50px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #909ba6;
	cursor: pointer;
	margin: 0 20px;
	text-decoration: none;
	padding: 0 7px;
	transition: 0.5s;
}

a:hover {
	font-weight: bold;
	background-color: rgb(225, 230, 235);
	border-radius: 15px;
}

.menu-icon {
	position: absolute;
	width: 25px;
	height: 25px;
	right: 50px;
	top: 28px;
}

.active {
	position: relative;
	--color-primer-border-active: #68d29b;
	color: black;
	transition: 0.5s;

}

.active::after {
	background: var(--color-primer-border-active);
	bottom: calc(50% - 25px);
	content: '';
	height: 3px;
	position: absolute;
	right: 50%;
	transform: translate(50%, -50%);
	width: 100%;
	z-index: 1;
	transition: 0.5s;

}