* {
	margin: 0;
	padding: 0;
}

.tableWrapper {
	width: 100%;
	overflow-x: auto;
}

.leaveTable {
	border-collapse: collapse;
	width: 100%;
	min-width: 1000px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.leaveTable th,
.leaveTable td {
	border: 1px solid #ccc;
	padding: 5px;
}

.leaveTable th:nth-child(5),
.leaveTable td:nth-child(5) {
	width: 400px;
}

.leaveTable th:nth-child(6),
.leaveTable td:nth-child(6) {
	width: 400px;
}

.leaveTable th {
	background-color: #4e4e4e;
	color: white;
}

.leaveTable td > .btnArea {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.leaveTable td > .btnArea .btn {
	color: black;
	border: 1px solid black;
	margin: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s;
	font-weight: bold;
}

.leaveTable td #leaveStatus {
	width: 80%;
	margin: 0 auto;
	border-radius: 12px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
	min-width: fit-content;
	color: white;
}
