.transactions {
    min-height: 400px;
    padding-bottom: 20px;
}

.transactionHeader {
    display: flex;
    justify-content: space-between;
}

.transactionItem {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
