.transactions {
	min-height: 400px;
	width: 100%;
	border: 1px solid #52525b;
	border-radius: 7px;
	margin: 20px 0 50px 0;
	padding: 10px;
}

.transactions .title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

.transactions .lineChart {
	margin-top: 100px;
}
